@keyframes fade-slide-in {
    from {top:-40px; opacity: 0;}
    to {top:0px; opacity: 1;}
}

body {
    background-color: black;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.5s
}
a:hover {
    color: gray;
}
p.copyright {
    font-size: 8pt;
    color:gray;
}
nav {
    margin:auto;
    display: block;
}
nav h1 {
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: 5px;
}
nav h2 {
    margin-top: 0px;
    font-size: 10pt;
    font-weight: normal;
}
nav ul {
    list-style: none;
    font-size: 10pt;
    padding-left: 0
}
li.header {
    font-weight: bold;
    margin-bottom: 2px;
}
#maincontent {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-evenly;
}
#maincontent nav.chapters {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#maincontent h3 {
    font-size: 10pt;
    font-weight: normal;
}
.reader {
    height: 100vh;
    width: 90%;
    display: flex;
    align-self: center;
}
.reader iframe {
    width: 100%;
    height: 90%;
    align-self: center;
}
.chapternav {
    text-align: center;
    padding-bottom: 40px;
}
#maincontent img#alfredpic {
    height: 60vh;
    display: block;
}
.indexcontent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    animation: fade-slide-in 2s ease-out;
}
.backuplink {
    font-size: 10pt;
    text-align: center;
    color: darkgray;
    padding-bottom: 40px;
}

@media only screen and (min-width:700px) {
    .sidebar {
        padding-left: 60px;
        height: 100%;
        top: 0;
        left: 0;
        width: 200px;
        position: fixed;
        display:flex;
        flex-direction: column;
        padding-right: 60px;
    }
    #maincontent {
        margin-left: 300px;
    }
}

/* Mobile */

@media only screen and (max-width:700px) {
    .sidebar {
        text-align: center;
        padding-top: 3%;
    }
    .sidebar ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
    #maincontent nav.chapters {
        height: 100%;
        padding-top: 3%;
    }
    .indexcontent {
        height: fit-content;
        padding-top: 3%;
    }
    li.header {
        display: none;
    }
}

html {
    display:block;
}
